div.quick-filters(flex, layout-align="start center", layout-margin) 
    h2.md-title Quick Filters:
    
    div(layout="row")
        md-input-container.margin-right(flex, ng-if="!coursePage")
            label(for="course") Courses
            md-select#course(ng-model="filters.courses", multiple, md-on-close="loadData(true)")
                md-button.opt-group-action(ng-click="closeSelect()") Apply
                md-optgroup(label="Courses")
                    // Note: Have to use handlebars here else the checkbox won't appear in the UI.
                    md-option(ng-repeat="course in courses", ng-value="course.id") {{'{{course.displayName}}'}}

        md-input-container.margin-left.margin-right(flex)
            label(for="status") Statuses
            md-select#status(ng-model="filters.statuses", multiple, md-on-close="loadData(true)")
                md-button.opt-group-action(ng-click="closeSelect()") Apply
                md-optgroup(label="Statuses")
                    // Note: Have to use handlebars here else the checkbox won't appear in the UI.
                    md-option(ng-repeat="status in statuses", ng-value="status.id") {{'{{status.displayName}}'}}
                    
        md-input-container.margin-left(flex)
            label(for="status") Publish Status
            md-select#published(ng-model="filters.isPublished", multiple, md-on-close="loadData(true)")
                md-button.opt-group-action(ng-click="closeSelect()") Apply
                md-optgroup(label="Publish Status")
                    md-option(ng-value="true") Published
                    md-option(ng-value="false") Unpublished
        
        md-button.md-button.md-accent(ng-click="clearFilters()")
            span.sr-only Clear Filters
            i.material-icons clear
            md-tooltip(md-direction="left") Clear Filters

hr
