div.header-action-buttons(flex, layout="row", layout-align="end center", ng-show="selectedQuestions.length") 
    md-button.md-icon-button(ng-click="publishSelected()") 
        i.material-icons file_upload 
        md-tooltip(md-direction="left") Publish Selected Questions
    md-button.md-icon-button(ng-click="unpublishSelected()") 
        i.material-icons file_download 
        md-tooltip(md-direction="left") Unpublish Selected Questions
    md-button.md-icon-button.md-warn(ng-click="deleteSelected()") 
        i.material-icons delete_sweep 
        md-tooltip(md-direction="left") Delete Selected Questions
    md-button.md-icon-button(ng-click="clearSelected()") 
        i.material-icons clear 
        md-tooltip(md-direction="left") Clear Selection
