.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

.float-right {
    float: right;
}

.no-select {
    user-select: none;
}

.margin-right {
    margin-right: 2em !important;
}

.compressed {
    h4, p {
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

h2 {
    .small {
        margin-top: 0;
        font-size: .7em;
        font-weight: normal;
        opacity: .5;
    }
}

.error {
    color: rgb(221,44,0);
}
