framework:
    secret: '%env(APP_SECRET)%'
    session:
        handler_id: null
        cookie_secure: auto
        cookie_samesite: lax
    php_errors:
        log: true
    serializer:
        enable_annotations: false
        enabled: true
        mapping:
            paths:
            - '%kernel.project_dir%/config/packages/api_platform/serialization/'