<div class="col-md-4">

	<div class="pricing1">
	
		<div class="top">
		
			<h2 class="editContent">{{ ingredient.name }}</h2>
			
			<p class="price "><b class="editContent">1 {{ ingredient.measure }} for ${{ recipe.price }}</b></p>
		
		</div><!-- /.top -->
		
		<div class="bottom">
			
			<a href="" class="btn btn-lg btn-embossed btn-block btn-primary"><span class="fa"></span>Buy One</a>
		
		</div><!-- /.bottom -->
	
	</div><!-- /.pricing1 -->

</div><!-- /.col-md-4 col -->
