md-content.transparent.users-table
    md-content.transparent 
        md-content.transparent 
            div.loading-container(ng-if="loading", layout="column", layout-align="center center")
                md-progress-circular(md-mode="indeterminate")
            md-table-container(ng-if="users.length && !loading") 
                table(md-table, md-row-select="true", multiple="true", ng-model="selectedUsers", md-progress="allUsersPromise").transparent
                    caption.sr-only This table lists all users in the FLVS system.
                    thead(md-head) 
                        tr(md-row) 
                            th(md-column) Username
                            th(md-column) Email
                            th(md-column) Account Access
                            th(md-column)
                                span.sr-only Actions
                                include quickActions.pug
                    tbody(md-body) 
                        tr(md-row, md-select="user", md-select-id="id", ng-repeat="user in users") 
                            td(md-cell, ng-bind="user.username", ui-sref="addEditUser({ userID: user.id })")
                            td(md-cell, ng-bind="user.email", ui-sref="addEditUser({ userID: user.id })")
                            td(md-cell, ng-bind="user.enabled ? 'Enabled' : 'Disabled'", ui-sref="addEditUser({ userID: user.id })")
                            td.show-on-hover(md-cell, layout="row", layout-align="end center")
                                md-button.md-icon-button(ui-sref="addEditUser({ userID: user.id })") 
                                    i.material-icons edit 
                                    md-tooltip(md-direction="left") Manage User
                                md-button.md-icon-button(ng-if="user.enabled", ng-click="changeUserStatus(user, false)") 
                                    i.material-icons lock 
                                    md-tooltip(md-direction="left") Disable User Access
                                md-button.md-icon-button(ng-if="!user.enabled", ng-click="changeUserStatus(user, true)") 
                                    i.material-icons lock_open
                                    md-tooltip(md-direction="left") Enable User Access
                                md-button.md-icon-button(ng-if="user.enabled", ng-click="resetPassword(user)") 
                                    i.material-icons contact_mail
                                    md-tooltip(md-direction="left") Send Password Reset Email

            md-table-pagination(ng-if="users.length", md-limit="query.limit", md-limit-options="[10, 20, 50, 100]", md-page="query.page", md-total="{{'{{ totalUsersMatchingFilters }}'}}", md-on-paginate="loadData", md-page-select) 
             
            div(flex, ng-if="!users.length && !loading", layout-align="center center", layout-padding)  
                h3.md-headline No results match the selected filters 
