div.add-edit-page
    md-content(layout-padding, layout="row")
        div(flex="80")
            h1.md-headline Username
            p.editable-text(ng-bind="userData.username", ng-show="!editingName", ng-click="toggleName()", aria-label="Click to edit user's name")
            button.sr-only(ng-if="!editingName", ng-click="toggleName()") Edit Username
            
            ng-form(name="userName", ng-show="editingName || !userData.username", ng-submit="saveUser()")
                md-input-container.md-block(flex="100")
                    label.sr-only(for="question") Username
                    input(id="user-name", required, name="name", ng-model="userData.editedName")
                    div(ng-messages="userName.name.$error")
                        div(ng-message="required") Username is required
                md-button.md-primary.md-raised(type="submit", ng-click="saveUser()", ng-disabled="!userName.$valid") Save
                md-button(ng-if="userData.editedName", ng-click="discardEdits('name')") Discard Edits
                
            h1.md-headline Email
            p.editable-text(ng-bind="userData.email", ng-show="!editingEmail && userData.email", ng-click="toggleEmail()", aria-label="Click to edit user email")
            button.sr-only(ng-if="!editingEmail && userData.email", ng-click="toggleEmail()") Edit Email
                            
            ng-form(name="userEmail", ng-show="editingEmail || !userData.email", ng-submit="saveUser()")
                md-input-container.md-block(flex="100")
                    label.sr-only(for="quicklaunch") User email
                    input(id="user-email", name="email", ng-model="userData.editedEmail")
                    div(ng-messages="userEmail.answer.$error")
                        div(ng-message="required") User email is required.
                md-button.md-primary.md-raised(type="submit", ng-click="saveUser()", ng-disabled="!userEmail.$valid") Save
                md-button(ng-if="userData.editedEmail", ng-click="discardEdits('email')") Discard Edits
            
            h1.md-headline Set New Password                            
            ng-form(name="setPassword", ng-submit="saveUser()")
                md-input-container.md-block(flex="80")
                    label(for="password") New Password
                    input(id="password", password-verify="", name="password", type="password", ng-model="userData.password")
                md-input-container.md-block(flex="80", ng-if="userData.password")
                    label(for="confirm-password") Confirm Password
                    input(id="confirm-password", password-verify="", required="userData.password != null", name="confirm-password", type="password", ng-model="userData.confirmPassword")
                    div(ng-messages="setPassword.setPassword.$error")
                        div(ng-message="required") Confirm password field is required.
                md-button(ng-if="userData.editedEmail", ng-click="discardEdits('email')") Discard
        
        div(flex="20", layout-align="space-between end", layout="column")
            md-button.md-primary.md-raised(
                type="submit", 
                ng-click="saveUser()", 
                ng-disabled="!userData.username || !userData.email || (userData.password && (userData.password !== userData.confirmPassword))") Save
