div.header-action-buttons(flex, layout="row", layout-align="end center", ng-show="selectedUsers.length") 
    md-button.md-icon-button(ng-click="deactivateSelected()") 
        i.material-icons lock 
        md-tooltip(md-direction="left") Disable Selected Users' Access
    md-button.md-icon-button(ng-click="activateSelected()") 
        i.material-icons lock_open
        md-tooltip(md-direction="left") Enable Selected Users' Access
    md-button.md-icon-button(ng-click="clearSelected()") 
        i.material-icons clear 
        md-tooltip(md-direction="left") Clear Selection
