md-content.transparent.courses-table(style="padding-top: 2em")
    md-content.transparent 
        div.loading-container(ng-if="loading", layout="column", layout-align="center center")
            md-progress-circular(md-mode="indeterminate")
        md-table-container(ng-if="courses.length && !loading") 
            table(md-table, md-progress="myCoursesPromise").transparent
                caption.sr-only This table lists all courses you belong to in the FLVS system.
                    thead(md-head) 
                        tr(md-row) 
                            th.timestamp(md-column) Name
                            th(md-column) Course Status
                            th(md-column) My Role
                    tbody(md-body) 
                        tr(md-row, ng-repeat="course in courses", ui-sref="viewMyCourse({ courseID: course.id })")
                            td(md-cell, ng-bind="course.displayName")
                            td(md-cell, ng-bind="course.isPublished ? 'Published' : 'Unpublished'")
                            td(md-cell, ng-bind="course.permission === 'EDITOR' ? 'Editor' : 'Teacher'")
            md-table-pagination(ng-if="courses.length", md-limit="query.limit", md-limit-options="[10, 20, 50, 100]", md-page="query.page", md-total="{{'{{ totalCourses }}'}}", md-on-paginate="loadData", md-page-select) 

            div(flex, ng-if="!courses.length && !loading", layout-align="center center", layout-padding)  
                h3.md-headline You do not belong to any courses. Ask your administrator to assign you as either an editor or teacher to a course.
