button.opt-group-action {
    float: right;
}

.md-button[disabled="disabled"] {
    md-icon {
        opacity: 0.5;
    }
}

md-toolbar.md-menu-toolbar.workflow-tools {
    background: transparent;
    border-bottom: 1px solid;
}

.workflow-tools {
    > .md-button:last-child {
        margin-right: 0;
    }
}
