// Default material desgin overrides
.md-chips md-chip {
    border-radius: 5px;
    height: 28px;
    line-height: 28px;
    padding: 0 12px;

    .md-chip-content {
        padding-right: 8px !important;
    }

    .md-chip-remove {
        height: 28px;
        width: 28px;
    }
}
