.questions-table, .courses-table, .users-table {
    table[md-table] {
        background-color: white;
        tr {
            .timestamp {
                max-width: 5em;
            }

            // Hide the action buttons for the row until hover
            .show-on-hover {

                // This padding keeps the table cells from resizing when selecting a row with buttons
                margin-left: 52px;

                > .md-button {
                    opacity: 0;
                    transition: .2s opacity $transition;
                }
            }

            &:hover, &:focus {
                cursor: pointer;
                .show-on-hover > .md-button {
                    opacity: 1;
                }
            }
        }
    }
}

table.md-table th.md-column {
    white-space: initial;
}

.header-action-buttons {
    text-align: right;
}
