$edit-bg-color: rgba(0, 0, 0, .01);

.add-edit-page {
    .md-title {
        margin-bottom: 0;
        &.margin-right {
            margin-right: 30px;
        }
    }

    p.editable-text {
        cursor: pointer;
        border: 1px solid transparent;

        &:hover, &:focus {
            margin-left: -15px;
            padding-left: 15px;
            border-radius: 5px;
            transition: border .5s $transition;
            transition: background-color .5s $transition;
            border: 1px solid rgba(0, 0, 0, .1);
            background-color: $edit-bg-color;
        }
    }

    .no-answer-container {
        min-height: 7em;
        background-color: rgba(0, 0, 0, .1);
        border-radius: 0% 100% 0 0;
        margin: 25px 0 -16px -16px;
        padding: 16px 0 0 16px;
        min-width: 25em;
    }
}
