extends ../partials/unauthBase.pug

block content 
    md-card-title(flex="100")
        h1.md-title Forgot Password

    md-card-content(flex="100", ng-controller="forgotPasswordController")
        p Send yourself a password reset link by entering your FLVS email below. If you continue to have problems, contact the administrator to manually reset your password.
        br
        form(name="requestResetForm", submit="requestPasswordReset()")
            md-input-container.md-block(flex="100", layout-padding)
                label(for="username") FLVS Email
                input(id="username", required, name="username", type="email", ng-model="user.username")
                        
            p.warning(ng-message="required", ng-bind="loginError")            
                            
            md-input-container.md-block(flex="100")
                md-button.md-raised.md-primary(type="submit", ng-disabled="!requestResetForm.$valid", ng-click="requestPasswordReset()") Request Reset
                md-button.md-primary(ng-href="/login", target="_self") Back to Login
