extends ../partials/unauthBase.pug

block content 
    md-card-title(flex="100")
        h1.md-headline Set New Password  

    md-card-content(flex="100", ng-controller="resetPasswordController")
        p Enter a new password below to reset your login credentials.
        br 
        form(name="requestResetForm")
            md-input-container.md-block(flex="100", layout-padding)
                label(for="password") New Password
                input#password(required, name="password", type="password", ng-model="userData.password")
                
            md-input-container.md-block(flex="100", layout-padding)
                label(for="confirm-password") Confirm New Password
                input#confirm-password(required, name="confirm-password", type="password", ng-model="userData.confirmPassword")
            div
                | {% if token %}
                <input id="token" type="hidden" name="token" value="{{ token }}" />
                | {% endif %}   
                                
            md-input-container.md-block(flex="100")
                md-button.md-raised.md-primary(type="submit", ng-disabled="!userData.password || !userData.confirmPassword || (userData.password !== userData.confirmPassword)", ng-click="saveNewPassword()") Save Password
