doctype html
html(lang="en")
    head
        title noinc Simple Storefront
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        block scripts
            script(src='/scripts/noinc-vendor.js')
            script(src='/scripts/noinc.js')
            
        block stylesheets
            link(rel="stylesheet", href="/stylesheets/noinc.min.css")
            
    body(ng-app="noincSimpleStorefront", ng-cloak)
        // All angular-defined views will be placed in the ui-view
        ui-view
        
        // For non-angularized pages (i.e. the login page), extend this template
        // and put content in this named block.
        block content
