md-toolbar.topbar.md-hue-1(ng-controller="topBarController", ng-cloak)
    div.md-toolbar-tools(md-whiteframe="4")
        div.menu-icon(flex="nogrow")
            md-button.md-icon-button(ng-click="toggleSideNav()") 
                md-icon(aria-label="Toggle Menu") menu
                
        div.page-title(flex="nogrow", hide-sm, hide-xs)
            | {% if is_granted('ROLE_ADMIN') %}
            a(ui-sref="dashboard", layout="row", layout-align="start center")
                img(src="/images/flvs.png", alt="Link to Dashboard Home")
                h1.md-headline(ng-bind="$state.current.data.pageTitle")
            | {% elseif is_granted('ROLE_USER') %}
            a(ui-sref="allQuestions", layout="row", layout-align="start center")
                img(src="/images/flvs.png", alt="Link to Questions List")
                h1.md-headline(ng-bind="$state.current.data.pageTitle")
            | {% endif %}
            
        md-input-container.search-container(flex, ng-click="searchGotFocus()")
            label.sr-only(for="search") Search
            md-icon search
            input(id="search", name="search", ng-model="searchTerm", ng-change="doSearch()")
                
        div.search-close(flex="nogrow", ng-show="searchIsActive")
            md-button.md-icon-button(ng-click="closeSearchArea()") 
                md-icon(aria-label="Close Search Area") close
                md-tooltip(md-direction="left") Close search
                            
        div(flex="nogrow", ng-hide="searchIsActive")
            md-menu
                md-button.md-icon-button(ng-click="$mdMenu.open()") 
                    md-icon account_circle
                md-menu-content
                    md-menu-item
                        md-button(ui-sref="myProfile({'userID': {{ app.user.id }}})") 
                            md-icon account_circle
                            | My Profile
                    md-menu-item
                        md-button(ng-click="logout()") 
                            md-icon exit_to_app
                            | Logout
    #loadingHXRBar
        // This is determined by the topBarController looking at loading in the rootScope.
        md-progress-linear(ng-show="pendingXHR" md-mode="indeterminate")
            
    #searchResults
        block searchResults
            include searchResults.pug
