doctype html
html(lang="en")
    head
        title FLVS Personal Learning Assistant
        meta(name="viewport" content="width=device-width, initial-scale=1.0")

        block scripts
            script(src='/scripts/pla-vendor.js')
            script(src='/scripts/pla.js')
            
        block stylesheets
            link(rel="stylesheet", href="/stylesheets/pla-vendor.min.css")
            link(rel="stylesheet", href="/stylesheets/pla.min.css")
            link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic")
            link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")

    body.login(ng-app="flvsPLA", layout="column", ng-cloak)
        div(layout="row", flex, layout-fill, layout-align="center center")
            md-card(layout="row", flex-xs="100", flex-gt-xs="50")
                ui-view(flex="100")
                    block content
                    
